.button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
  width: max-content;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
