:root {
  --gray-300: #cccccc;
  --gray-400: #aaaaaa;
  --gray-500: #79736d;
  --gray-700: #1b1a18;
  --red-500: #df0000;

  --font-xl: 1.5rem;
  --font-lg: 1.25rem;
  --font-md: 0.875rem;
  --font-sm: 0.75rem;
  --font-xs: 0.625rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.wrapper {
  width: min(100%, 120rem);
  padding: 0 1rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > * {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 2.5rem;
  }

  main {
    padding-top: 0rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0 6.25rem;
  }
}
