.card {
  padding: 1rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  background-color: black;
  left: -1px;
  right: 0;
  top: -1px;
  bottom: 0;
  z-index: 0;
  transition: transform 0.45s;
  transform-origin: bottom;
  transform: scaleY(0);
}

.link:hover::before {
  transform: scaleY(1);
}

.link:hover .overTitle {
  color: var(--gray-300);
}

.link:hover .title {
  color: white;
}

.link:hover .price {
  color: white;
}

.img_wrapper {
  position: relative;
  width: 21.563rem;
  height: 18.125rem;
}

.img {
  object-fit: contain;
}

.info {
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  text-transform: uppercase;
}

.overTitle {
  color: var(--gray-500);
  font-size: var(--font-xs);
  font-weight: 300;
  margin-bottom: 0.25rem;
  grid-column-start: 1;
  grid-row-start: 1;
  transition: color 0.25s;
}

.title,
.price {
  font-size: var(--font-sm);
  font-weight: 300;
  transition: color 0.25s;
}

.title {
  grid-column-start: 1;
  grid-row-start: 2;
}

.price {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
}
