.cart_item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-height: 12.5rem;
  padding: 1rem 0;
}

.img_wrapper {
  width: 10rem;
  height: 12.5rem;
  position: relative;
}

.img {
  object-fit: contain;
}

.info {
  align-self: center;
  text-transform: uppercase;
  font-size: var(--font-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin-bottom: 0.25rem;
}

.desc {
  margin-bottom: 1.25rem;
}

.price {
  margin-bottom: 2rem;
}

.delete_btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--red-500);
}

@media (min-width: 768px) {
  .cart_item {
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .cart_item {
    gap: 1rem;
    padding: 1rem;
  }

  .img {
    max-width: 16.5rem;
    height: auto;
  }
}
