.nav {
  padding: 1.75rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cart {
  display: flex;
  gap: 0.5rem;
}

.cart .bag {
  transition: all 0.25s;
}
