.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image_wrapper {
  width: 100%;
  display: flex;
}

.image {
  width: 100%;
  height: auto;
}

.header_info {
  width: 100%;
  margin-top: 2.5rem;
}

.title {
  font-weight: 300;
  font-size: var(--font-lg);
  margin-bottom: 0.75rem;
}

.price {
  font-weight: 300;
  font-size: var(--font-lg);
  margin-bottom: 2.5rem;
}

.label {
  text-transform: uppercase;
  font-size: var(--font-md);
  margin-bottom: 1.5rem;
}

.storage_container {
  margin-bottom: 2rem;
}

.storage_button {
  all: unset;
  cursor: pointer;
  padding: 1.5rem;
  border: 1px solid var(--gray-300);
  font-size: var(--font-md);
}

.storage_button + .storage_button {
  border-left: none;
}

.storage_button[data-current="true"] {
  border: 1px solid var(--gray-500);
}

.colors_container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.color_name {
  font-size: var(--font-sm);
  margin-bottom: 2.5rem;
}

.color_button {
  all: unset;
  cursor: pointer;
  outline: 1px solid var(--gray-300);
  outline-offset: 1px;
  width: 1.5rem;
  height: 1.5rem;
}

.color_button[data-current="true"] {
  outline: 1px solid var(--gray-500);
}

.add_button {
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  padding: 1.25rem;
  text-align: center;
  background-color: black;
  color: white;
  font-size: var(--font-sm);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: stretch;
    max-height: 31rem;
  }

  .header_info {
    width: min(100%, 24.375rem);
    padding-top: 2rem;
    margin-top: 0;
    flex-shrink: 0.5;
  }

  .title {
    font-size: 1.5rem;
  }

  .image_wrapper {
    margin-right: 2rem;
    width: min(100%, 31.875rem);
  }

  .price {
    margin-bottom: 4rem;
  }

  .storage_container {
    margin-bottom: 2.5rem;
  }

  .colors_name {
    font-size: var(--font-xs);
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .image_wrapper {
    margin-right: 4rem;
  }
}
